.header {
  height: 100vh;
}

.animation {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 75px;
  display: block;
  span.word {
    position: absolute;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    width: 10%;
    white-space: nowrap;
    &.active {
      opacity: 1;
      width: 100%;
    }
  }
}
